<script>
    "use strict";
    /*
     *创建人：沈小艳
     *创建时间：2017/07/31
     *多头借贷信息核查
     * */
    app.controller('personalInfoCheck', ['$scope','$http','utifyFunction',"$rootScope",
        function ($scope,$http,utifyFunction,$rootScope) {

        //数据初始化
        $scope.info = {
            cellphone: '15869001094',
            tradeStartTime :'2010-01-01',
            tradeEndTime :'2017-10-10',
            apiId:localStorage.getItem("apiNameId")
        };
        //结果与样例的切换初始化
        $scope.resultSwitch = false;

        //时间段
        $scope.monthTypes=[
            {
                value:'3',
                type:'3个月'
            },
            {
                value:'6',
                    type:'6个月'
            },
            {
                value:'9',
                type:'9个月'
            },
            {
                value:'12',
                type:'12个月'
            },
            {
                value:'24',
                type:'24个月'
            }
        ];

        //类型
        $scope.Types=[
            {
                value:'S001',
                type:'信贷平台注册信息'
            },
            {
                value:'S002',
                type:'信贷平台注册详情'
            },
            {
                value:'S003',
                type:'贷款申请次数'
            },
            {
                value:'S004',
                type:'贷款申请详情'
            },
            {
                value:'S005',
                type:'贷款申请结果'
            },
            {
                value:'S006',
                type:'贷款放款次数'
            },
            {
                value:'S007',
                type:'贷款放款详情'
            },{
                value:'S008',
                type:'贷款驳回次数'
            },
            {
                value:'S009',
                type:'贷款驳回详情'
            },
            {
                value:'S010',
                type:'逾期信息查询'
            },
            {
                value:'S011',
                type:'逾期平台查询'
            },
            {
                value:'S012',
                type:'逾期平台详情查询'
            },
            {
                value:'S013',
                type:'欠款查询'
            }
        ]


        //重置数据
        $scope.resetInfo = function () {
            $scope.info.cellphone = '';
            $scope.resultSwitch = false;
            $scope.checkedState=false;
//            console.log($scope.selectedSite.type.type)
            console.log($scope.S001)
        };

        //复选框的全选全部选
        $scope.checkedState=false;
        $scope.choseArr=[];//定义数组用于存放前端显示
        var str="";//
        var len= $scope.Types.length;//初始化数据長度
        var flag='';//是否点击了全选，是为a
        $scope.checkBox=false;//默认未选中

        $scope.type13=false;



        $scope.allSelect= function (checkedState,Types) {//全选
            if(checkedState === true){
                $scope.checkBox=true;
                angular.forEach(Types,function (Types) {
                    $scope.choseArr.push(Types.value)

                })
                console.log($scope.choseArr);
                $scope.type13=true;
                flag='a';
            }
            else{
                $scope.checkBox=false;
                $scope.type13=false;
                $scope.choseArr=[];
                flag='b';
            }
        };
       $scope.chk= function (z,checkBox) {//单选或者多选
            if (checkBox === true) {//选中
                $scope.choseArr.push(z)
                console.log($scope.choseArr)

                if(z==='S013'){
                    $scope.type13=true;
                    console.log('aaa')
                }
                 flag='c'
                 if($scope.choseArr.length===len){
                     $scope.checkedState=true
                 }
            }
            else {
                $scope.choseArr.splice($scope.choseArr.indexOf(z),1);//取消选中
                if(z==='S013'){
                    $scope.type13=false;
                }
                console.log($scope.choseArr)
            }
            if($scope.choseArr.length===0){
                $scope.checkedState=false
             }
             };


            $('#cache_model').modal("hide");
        //提交
        $scope.submitInfo = function (myForm) {
            //数据信息格式错误时阻止表单提交
            if (myForm.cellphone) {
                myForm.cellphone.$dirty = true
            }

            if (!myForm.$valid) {
                $scope.resultSwitch = false;
                return
            }

            var obj={} ;
            obj.cellphone= $scope.info.cellphone;
            obj.timePeriod = $scope.selectedSite.type.value;
            obj.type= $scope.choseArr.join(",");
            obj.tradeStartTime = $scope.info.tradeStartTime ;
            obj.tradeEndTime =$scope.info.tradeEndTime ;
            obj.apiId = $scope.info.apiId ;
            
            $('#cache_model').modal("show");

            $http({
                method: 'POST',
                url: '/normalSearch'+utifyFunction(obj)
            }).then(function successCallback(response) {
                console.log(response)
                $('#cache_model').modal("hide");


//                youfen多头借贷信息核查

                if(response.data.code === 8652){
                    $scope.resultSwitch = false;
                    sweetAlert("",response.data.message, "error");
                    return;
                }
                if(response.data["youfen多头借贷信息核查"].resCode === '0000'){


                    if(response.data["youfen多头借贷信息核查"].data.statusCode === '2012'){
                        $scope.resultMsg = response.data["youfen多头借贷信息核查"].data.result;
                        $scope.dataMsg=true;//查询成功
                        $scope.otherMsg=false;
                    }
                    else{
                        $scope.resultMsg = response.data["youfen多头借贷信息核查"].data.statusMsg;
                        $scope.dataMsg = false;//查询成功
                        $scope.otherMsg = true;
                    }

                    $scope.resultSwitch = true;
                }
                else{
                    $scope.dataMsg = false;//查询成功
                    $scope.otherMsg = true;
                    $scope.resultMsg = response.data["youfen多头借贷信息核查"].resMsg;
                    $scope.resultSwitch = true;
                }
                
            });
        }

        //下载
        $scope.createPdf=function () {
            if($scope.resultSwitch ===true){
                var html = $("#business_flowing_pdf").html();
                var today = new Date();
                var year = today.getFullYear();
                var month = today.getMonth() + 1;
                var day = today.getDay();
                var hour = today.getHours();
                var minute = today.getMinutes();

                //使用form来生成下载所需的数据
                var form = $("<form>");
                form.attr("style", "display:none");
                form.attr("target", "");
                form.attr("method", "post");
                form.attr("action", "/createpdf");

                var input1 = $("<input>");
                input1.attr("type", "hidden");
                input1.attr("name", "html");
                input1.attr("value", html);
                form.append(input1);

                var input2 = $("<input>");
                input2.attr("type", "hidden");
                input2.attr("name", "filename");
                input2.attr("value", "【小金风控8005】多头借贷信息核查 " + year + "." + month + "." + day + "_" + hour + "." + minute);
                form.append(input2);

                //将表单放置在web中
                $("body").append(form);
                form.submit();
            }
            else{
                sweetAlert("", "请先查询再下载", "error");
            }


        }

        //接口单价
            $scope.apiName=localStorage.getItem("apiNameId");
            $http({
                url:"/supplyAPI/showApiScore?apiId="+$scope.apiName,
                method:"GET"
            }).then(function successCallback(response) {
                console.log(response)
                $scope.priceResult=response.data[0];
            })

    }]);
</script>



<div class="vbox" ng-controller="personalInfoCheck">
    <div class="wrapper b-b">
        <div class="font-thin h4">个人信息查询</div>
    </div>
    <div class="row-row">
        <div class="cell scrollable">
            <div class="cell-inner">
                <div class="wrapper-md">
                    <div class="panel panel-info input-panel" style="margin-bottom: 0">
                        <div class="panel-heading overflow" style="font-size: 16px">
                            <span class="pull-left text-left">多头借贷信息核查</span>
                            <span class="pull-right text-right supCol">{{priceResult}}积分/次</span>
                        </div>
                        <div class="panel-body">
                            <form name="myForm" action="" method="post" class="form-horizontal newfenye">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span style="color: #ff0000">*</span>手机号：</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-model="info.cellphone" name="cellphone" class="form-control" ng-required="true" pattern="^1[3|4|5|7|8][0-9]{9}$">
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3 control-label padder" style="text-align:left" ng-show="myForm.cellphone.$dirty && myForm.cellphone.$invalid">
                                        <span style="color: #ff0000" ng-show="myForm.cellphone.$error.required">手机号不能为空</span>
                                        <span style="color: #ff0000" ng-show="myForm.cellphone.$error.pattern">手机号格式错误</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span style="color: #ff0000">*</span>时间段(单位：月)：</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="selectedSite.type" ng-options="x.type for x in monthTypes" >

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span style="color: #ff0000">*</span>类型：</label>
                                    <div class="col-sm-4">
                                        <input type="checkbox" ng-model="checkedState" ng-click="allSelect(checkedState,Types)">全选<br>
                                        <div ng-repeat="t in Types">
                                            <input type="checkbox" ng-checked="checkedState" ng-model="checkBox" ng-click="chk(t.value,checkBox)" value="S001">{{t.type}}<br>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="type13">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">开始时间，当查询欠款查询时使用：</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="checkedStyle" name="tradeStartTime " ng-model="info.tradeStartTime " placeholder="2015-01-01" ng-required="true" pattern="((((19|20)\d{2})-(0?(1|[3-9])|1[012])-(0?[1-9]|[12]\d|30))|(((19|20)\d{2})-(0?[13578]|1[02])-31)|(((19|20)\d{2})-0?2-(0?[1-9]|1\d|2[0-8]))|((((19|20)([13579][26]|[2468][048]|0[48]))|(2000))-0?2-29))$">
                                        </div>
                                        <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3 control-label padder" style="text-align:left" ng-show="myForm.tradeStartTime .$dirty && myForm.tradeStartTime .$invalid">
                                            <span style="color: #ff0000" ng-show="myForm.tradeStartTime .$error.required">日期不能为空</span>
                                            <span style="color: #ff0000" ng-show="myForm.tradeStartTime .$error.pattern">日期格式不正确</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">截止时间，当查询欠款查询时使用：</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="checkedStyle" name="tradeEndTime " ng-model="info.tradeEndTime " placeholder="2015-01-01" ng-required="true" pattern="((((19|20)\d{2})-(0?(1|[3-9])|1[012])-(0?[1-9]|[12]\d|30))|(((19|20)\d{2})-(0?[13578]|1[02])-31)|(((19|20)\d{2})-0?2-(0?[1-9]|1\d|2[0-8]))|((((19|20)([13579][26]|[2468][048]|0[48]))|(2000))-0?2-29))$">
                                        </div>
                                        <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3 control-label padder" style="text-align:left" ng-show="myForm.tradeEndTime .$dirty && myForm.tradeEndTime .$invalid">
                                        <span style="color: #ff0000" ng-show="myForm.tradeEndTime .$error.required">日期不能为空</span>
                                            <span style="color: #ff0000" ng-show="myForm.tradeEndTime .$error.pattern">日期格式不正确</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-md-offset-3 col-sm-8">
                                        <button type="button"  class="btn btn-info" ng-click="submitInfo(myForm)">提交</button>
                                        <button type="button"  class="btn btn-info" ng-click="resetInfo()">重置</button>
                                        <button type="button" class="btn btn-danger" ng-click="createPdf()"><i class="fa fa-file-pdf-o"></i> 生成PDF</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md" ng-show="!resultSwitch" style="width:100%; padding:0 20px 0 20px;">
                    <div class="panel panel-info input-panel">
                        <div class="panel-heading">
                            <span style="color: #474747;">查询结果</span>
                            <span style="color: red;">样例</span>
                        </div>
                        <div>
                            <table class="table-border-style">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信贷平台注册信息</th></tr><tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><td>注册总数</td><td>2</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信贷平台注册详情</th></tr>
                                <tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>2</td></tr>
                                <tr><td>注册时间</td> <td>2016/6/24 0:00:00</td> </tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息2</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>2</td></tr>
                                <tr><td>注册时间</td><td>2016/5/15 0:00:00</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款申请次数</th></tr>
                                <tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><td>申请次数</td><td>1</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款申请详情</th></tr>
                                <tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>2</td></tr>
                                <tr><td>申请时间</td><td>2016/6/24 0:00:00</td></tr>
                                <tr><td>申请金额区间</td><td>0w～0.2w</td></tr>
                                <tr><td>申请结果</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款申请结果</th></tr>
                                <tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><td>记录总条数</td><td>2</td></tr>
                                <tr><td>申请通过次数</td><td>1</td></tr>
                                <tr><td>申请被拒次数</td><td>0</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款放款次数</th></tr>
                                <tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><td>贷款放款次数</td><td>1</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款放款详情</th></tr>
                                <tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>2</td></tr>
                                <tr><td>放款时间</td><td>2016/6/24 0:00:00</td></tr>
                                <tr><td>放款金额区间</td><td>0w～0.2w</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款驳回次数</th></tr>
                                <tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><td>贷款驳回次数</td><td>0</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款驳回详情</th></tr>
                                <tr><td>查询时间段</td><td>2014-11-22--2016-11-22</td></tr>
                                <tr><td colspan="2">暂无数据</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">逾期信息查询</th></tr>
                                <tr><td>手机号</td> <td>186****1654</td></tr>
                                <tr><td>逾期总次数</td><td>2</td></tr>
                                <tr><td>逾期金额区间</td><td>0w～0.2w</td></tr>
                                <tr><td>省</td><td>山*</td></tr>
                                <tr><td>市</td><td>太*</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">逾期平台查询</th></tr>
                                <tr><td>手机号</td><td>186****1654</td></tr>
                                <tr><td>发生逾期的平台总数</td><td>1</td></tr>
                                <tr><td>逾期金额区间</td><td>0w～0.2w</td></tr>
                                <tr><td>省</td><td>山*</td></tr>
                                <tr><td>市</td><td>太*</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">逾期平台详情查询</th></tr>
                                <tr><td>手机号</td><td>186****1654</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>2</td></tr>
                                <tr><td>该平台的逾期数量</td><td>1</td></tr>
                                <tr><td>逾期金额区间</td><td>0w～0.2w</td></tr>
                                <tr><td>省</td><td>山*</td></tr>
                                <tr><td>市</td><td>太*</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">欠款查询</th></tr>
                                <tr><td>手机号</td><td>186****1654</td></tr>
                                <tr><td colspan="2">暂无数据</td></tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="business_flowing_pdf" class="wrapper-md" ng-show="resultSwitch" style="width:100%; padding:0 20px 0 20px;">
                    <div class="panel panel-info input-panel">
                        <div class="panel-heading">
                            <span style="color: #474747;">查询结果</span>
                        </div>
                        <div>
                            <table ng-if="otherMsg" class="table-border-style grid_table">
                            <tr><td width="80%">{{resultMsg}}</td></tr>
                        </table>
                            <table ng-if="dataMsg" class="table-border-style grid_table">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信贷平台注册信息</th></tr>
                                <tr><td width="40%">查询时间段</td><td width="40%">{{ resultMsg.S001.cycle }}</td></tr>
                                <tr><td>注册总数</td><td>{{ resultMsg.S001.registerNum }}</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信贷平台注册详情</th></tr>
                                <tr><td>查询时间段</td><td>{{ resultMsg.S002.cycle }}</td></tr>
                                <tbody ng-repeat="(index1,value1) in resultMsg.S002.data">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息{{index1+1}}</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>{{value1.platformType}}</td></tr>
                                <tr><td>注册时间</td> <td>{{value1.registerTime}}</td> </tr>
                                </tbody>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款申请次数</th></tr>
                                <tr><td>查询时间段</td><td>{{ resultMsg.S003.cycle }}</td></tr>
                                <tr><td>申请次数</td><td>{{ resultMsg.S003.loanNum }}</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款申请详情</th></tr>
                                <tr><td>查询时间段</td><td>{{ resultMsg.S004.cycle }}</td></tr>
                                <tbody ng-repeat="(index2,value2) in resultMsg.S004.data">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息{{index2+1}}</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>{{value2.platformType}}</td></tr>
                                <tr><td>申请时间</td><td>{{value2.applicationTime}}</td></tr>
                                <tr><td>申请金额区间</td><td>{{value2.applicationAmount}}</td></tr>
                                <tr><td>申请结果</td><td>{{value2.applicationResult}}</td></tr>
                                </tbody>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款申请结果</th></tr>
                                <tr><td>查询时间段</td><td>{{ resultMsg.S005.cycle }}</td></tr>
                                <tr><td>记录总条数</td><td>{{ resultMsg.S005.resultNum }}</td></tr>
                                <tr><td>申请通过次数</td><td>{{ resultMsg.S005.passes }}</td></tr>
                                <tr><td>申请被拒次数</td><td>{{ resultMsg.S005.rejected }}</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款放款次数</th></tr>
                                <tr><td>查询时间段</td><td>{{ resultMsg.S006.cycle }}</td></tr>
                                <tr><td>贷款放款次数</td><td>{{ resultMsg.S006.loanLendersNum }}</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款放款详情</th></tr>
                                <tr><td>查询时间段</td><td>{{ resultMsg.S007.cycle }}</td></tr>
                                <tbody ng-repeat="(index3,value3) in resultMsg.S007.data">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息{{index3+1}}</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>{{value3.platformType}}</td></tr>
                                <tr><td>放款时间</td><td>{{value3.loanLendersTime}}</td></tr>
                                <tr><td>放款金额区间</td><td>{{value3.loanLendersAmount}}</td></tr>
                                </tbody>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款驳回次数</th></tr>
                                <tr><td>查询时间段</td><td>{{ resultMsg.S008.cycle }}</td></tr>
                                <tr><td>贷款驳回次数</td><td>{{ resultMsg.S008.loanRejectionNum }}</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">贷款驳回详情</th></tr>
                                <tr><td>查询时间段</td><td>{{ resultMsg.S009.cycle }}</td></tr>
                                <tr><td colspan="2">暂无数据</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">逾期信息查询</th></tr>
                                <tr><td>手机号</td> <td>{{ resultMsg.S010.cellphone }}</td></tr>
                                <tr><td>逾期总次数</td><td>{{ resultMsg.S010.counts }}</td></tr>
                                <tr><td>逾期金额区间</td><td>{{ resultMsg.S010.money }}</td></tr>
                                <tr><td>省</td><td>{{ resultMsg.S010.province }}</td></tr>
                                <tr><td>市</td><td>{{ resultMsg.S010.city }}</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">逾期平台查询</th></tr>
                                <tr><td>手机号</td><td>{{ resultMsg.S011.cellphone }}</td></tr>
                                <tr><td>发生逾期的平台总数</td><td>{{ resultMsg.S011.counts }}</td></tr>
                                <tr><td>逾期金额区间</td><td>{{ resultMsg.S011.money }}</td></tr>
                                <tr><td>省</td><td>{{ resultMsg.S011.province }}</td></tr>
                                <tr><td>市</td><td>{{ resultMsg.S011.city }}</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">逾期平台详情查询</th></tr>
                                <tr><td>手机号</td><td>{{ resultMsg.S012.cellphone }}</td></tr>
                                <tbody ng-repeat="(index4,value4) in resultMsg.S012.data">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息{{index4+1}}</th></tr>
                                <tr><td>平台类型(0 全部 1 银行 2 非银行)</td><td>{{value4.platformType}}</td></tr>
                                <tr><td>该平台的逾期数量</td><td>{{value4.counts}}</td></tr>
                                <tr><td>逾期金额区间</td><td>{{value4.money}}</td></tr>
                                <tr><td>省</td><td>{{value4.province}}</td></tr>
                                <tr><td>市</td><td>{{value4.city}}</td></tr>
                                </tbody>
                                <tr><th colspan="2" style="background-color: #f6f8f8">欠款查询</th></tr>
                                <tr><td>手机号</td><td>{{ resultMsg.S013.cellphone }}</td></tr>
                                <tbody ng-repeat="(index5,value5) in resultMsg.S013.data">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息{{index5+1}}</th></tr>
                                <tr><td>欠款金额区间</td><td>{{value5.money}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


